* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --white: #f5f6f9;
    --white2: #DAE2DF;
    --shadow: #F87A7A;
    --blue2: #00859d;
    --red: #D3212D;
    --red2: #EE2533;
}

/* Defina a posição do botão de tema*/

#toggle-theme {
    position: relative;
    left: 90%;
    top: 2vw;
    width: 5vw;
}

input[id="toggle-theme"] {
    width: 200vw;
    height: 3vw;
    appearance: none;
    background-color: var(--white2);
    border-radius: 50px;
    box-shadow: inset 0px 0px 16px 1px #4444;
    cursor: pointer;
    position: relative;
}

input:checked[id="toggle-theme"] {
    background-color: var(--red2);
    transition: 400ms;
}

input[id="toggle-theme"]:before {
    content: '';
    width: 3.1vw;
    height: 3.01vw;
    background-color: var(--shadow);
    border-radius: 30px;
    position: absolute;
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.25);
    transform: scale(1.0);
    top: 0;
    left: 0;
}

input:checked[id="toggle-theme"]:before {
    left: 2vw;
    transition: 400ms;

}

/* Defina as cores do tema claro */

.light-theme {
    background-color: #e2f7ef;

}

/* Defina as cores do tema escuro */
.dark-theme {
    background-color: #444;

}


.container {
    width: 450px;
    margin: 0 auto;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: translateY(3%);
    color: var(--white);
    background: var(--red);
    background: -moz-linear-gradient(top, #D3212D 0%, #EE2533 98%, #CCC 100%);
    background: -webkit-linear-gradient(top, #D3212D 0%, #EE2533 98%, #CCc 100%);
    background: linear-gradient(to bottom, #D3212D 0%, #EE2533 98%, #CCC 100%);
    border-bottom: 7px groove var(--shadow);
    border-radius: 18px 18px 18px 18px;
    gap: 15px;

}



.container h2 {
    margin: 2rem 0;
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 2rem;
    font-size: 2rem;
}

.form .email, .password, .button {
    display: block;
    width: 100%;

}

.form label {
    margin-bottom: 2px;
    font-size: 18px;
}

.email, .password, .button {
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 10px;
    border-radius: 5px;
    color: var(--red);
    background-color: var(--white);
}

.button {
    margin-top: 20px;
    font-size: 18px;
}

.button:hover {
    background-color: var(--shadow);
    transition: 400ms all;

}

#showPass {
    margin-top: 15px;
    margin-left: 8px;
}

.registration {
    display: flex;
    justify-content: center;

}

.registration a {
    text-decoration: none;
    margin: 0 0 0 5px;
    color: var(--white);

}

.registration a:hover {
    background-color: var(--shadow);
    border-radius: 5px;
    padding-inline: 1%;
    transform: translateY(10%);
    transition: 300ms all;

}

@media only screen and (max-width:767px) {

    .container {
        width: 450px;
        margin: 0 auto;
        padding: 20px 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        transform: translateY(20%);
        color: var(--white);
        background: var(--red);
        background: -moz-linear-gradient(top, #D3212D 0%, #EE2533 98%, #CCCCCC 100%);
        background: -webkit-linear-gradient(top, #D3212D 0%, #EE2533 98%, #CCCCCC 100%);
        background: linear-gradient(to bottom, #D3212D 0%, #EE2533 98%, #CCCCCC 100%);
        border-bottom: 7px groove var(--shadow);
        border-radius: 18px 18px 18px 18px;
        gap: 15px;
        font-size: 1.5em;

    }

    .form .email, .password, .button {
        font-size: x-large;

    }

    .form label {
        margin-bottom: 2px;
        font-size: 1em;
    }

    .registration {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    .registration a {
        text-decoration: none;
        margin: 0 0 0 5px;
        color: var(--white);

    }

    .registration a:hover {
        background-color: var(--shadow);
        border-radius: 10px;
        padding-inline: 2%;
        transform: translateY(10%);
        transition: 300ms all;
    }
}